h1{
    color: red;
    text-align: center;
}
.primary{
    color:rgb(255, 197, 0);
    
}
.column{
    height: 300px;
    width: 31%;
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    
}
p{
    padding: 10px;
}
.photo{
    height: 100px;
    width: 100px;
}